version: '3.9'

services:
  java_app:
    container_name: java_app
    build: .
    image: java-app:1.0.0
    ports:
      - "9001:9001"
    environment:
      SPRING_DATASOURCE_URL: "jdbc:postgresql://java_db:5432/postgres"
      SPRING_DATASOURCE_USERNAME: "postgres"
      SPRING_DATASOURCE_PASSWORD: "postgres"
      SPRING_JPA_HIBERNATE_DDL_AUTO: "update"
    depends_on:
      - java_db

  java_db:
    container_name: java_db
    image: postgres:12
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "postgres"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
